@model IEnumerable<App_BodyCorp.Models.Compra>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Nova Compra</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Data da Compra
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cliente)
			</th>
			<th>
				Valor Total
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DataCompra)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ValorTotal)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.CompraId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.CompraId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.CompraId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
